

{% extends 'base.html' %}

{% block title %}
    - register
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}

{% endblock %}
{% block content %}   
<div>
    <img src=" {{ url_for('static', filename='images/logo.png' ) }} " id="logo">
    {{render_link('auth.index', 'Ekoscriptor', class='story-link')}}
    <h1>Signing up</h1>
    <div>
        {{ render_messages(get_flashed_messages(with_categories=True)) }}
    </div>
    {{ render_form(form, button_style='secondary') }}
    {{render_link('auth.login', 'sign in', class='story-link')}}
</div>
<div>
    Welcome to Ekoscriptor, a storyboard web application, made to facilitate writing stories, comic books, manga, etc. 
</div>
{% endblock %}
{% block script %}
    
{% endblock %}