{% extends 'base.html' %}

{% block title %}
       - chapter     
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
{% include 'story-nav.html'   %}
{% endblock %}
{% block content %}
               
    
<div class="left">
    
    <div>
        {{ render_messages(get_flashed_messages(with_categories=True)) }}
    </div>
        
    <div id="chapters">
        Chapters
        <ul>
            {% for chapter in chapters %}
                <li>
                    {{ render_link('chapter.chapter_', chapter.title, id=chapter.id, class='story-link') }}   
                </li>
            {% endfor %}
        </ul>
        <div>
            {{ render_pagination(pagination) }}
        </div>
    </div>
</div>
<div>
    <h2 >
        {{ chapter.title }}
        
    </h2>
    <div id="del-upd">
        <button class="btn btn-secondary" id="delete" onclick="deleteChapter({{chapter.id}}, {{story.id}})">delete</button>
        <button class="btn btn-secondary" id="update">update</button>

    </div>
    
    <div id="text_">
        
        <ul class="nav">
            {{render_nav_item('chapter.text', 'text', id=chapter.id)}}
            {{render_nav_item('panel.index', 'panels', id=chapter.id)}}
        </ul>
        
    </div>
    <div class="light" id="light_chapter">
        <a href="javascript:void(0)" onclick="document.getElementById('light_chapter').style.display='none';document.getElementById('faded_chapter').style.display='none';" class="story-link close">&times;</a>
        {{ render_form(uForm, button_style='secondary') }}
        {{ render_form(form, button_style='secondary') }}
     
    </div>
    <div class="faded" id="faded_chapter"  onclick="document.getElementById('light_chapter').style.display='none';document.getElementById('faded_chapter').style.display='none';">
    </div>
    <div id="d2">
   
       
    
        <div id="description_">
            <img id="cover" src=" {{ url_for('static', filename=filename) }} " alt="cover">
        {{ chapter.description}}
        </div>
    </div>
</div>

   

{% endblock %}
{% block script %}
    {{ super() }}
    <script src=" {{ url_for('static', filename='js/script_c.js') }} ">
    </script>
{% endblock %}