

{% extends 'base.html' %}

{% block title %}
    - text        
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
{% include 'story-nav.html'   %}
{% endblock %}
{% block content %}
<div class="left">
    
    <h2>
        {{ render_link('chapter.chapter_', chapter.title, id=chapter.id, class='story-link') }}
    </h2>
    <div>
        <ul class="nav">
            {{render_nav_item('chapter.text', 'text', id=chapter.id)}}
            {{render_nav_item('panel.index', 'panels', id=chapter.id)}}
        </ul>
    </div>
</div>
    

<div>
    <div>
        {#{{ render_link('chapter.download_full_text', 'download full text', id=chapter.id) }}#}
        <a href=" {{ url_for('chapter.download_full_text', id=chapter.id, serial=serial) }} " target="_blank" class="story-link">download full text</a>
    </div>
    <div class="full_lines">
        
        
        <table>
            {% for line in lines %}
            <tr>
                <td>{{line.text}}
                </td>
                <td>
                    <button onclick="erase({{line.id}}, {{chapter.id}})" class="btn btn-secondary">erase</button>
                    <button onclick="update({{line.id}}, {{chapter.id}})"  class="btn btn-secondary">update</button>    
                </td>
            </tr>
            {% endfor %} 
        </table>
        
    </div>
</div>
    
    

{% endblock %}
{% block script %}
<script src=" {{ url_for('static' ,filename='js/script_tc.js') }} "></script>
{% endblock %}