{% extends 'base.html' %}

{% block title %}
            
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
    

{% include 'story-nav.html'   %}

{% endblock %}
{% block content %}
               
    
<div class="left">
    <div id="stories">
        Stories
        <ul>
            {% for story in stories %}
                <li>
                    {{ render_link('main.story', story.title, id=story.id, class='story-link') }}   
                </li>
            {% endfor %}
        </ul>
        <div>
            {{ render_pagination(pagination) }}
        </div>
    </div>    
</div>
<div>
    
    <h1>{{  story.title }}</h1> 
    
    <div id="del-upd">
        <button class="btn btn-secondary" id="delete" onclick="deleteStory({{story.id}})">delete</button>
        
        <button class="btn btn-secondary" id="update">update</button>

    </div>  
    <div id="char-chap">
        
        
        
    </div>
   
    <div id="d2">
        
        <div id="title_">
            
        </div>
        <div id="description_">
            <img id="cover" src=" {{ url_for('static', filename=filename) }} " alt="cover">
        {{ story.description}}
        </div>
    </div>
    
</div>
<div class="popup">
    <div class="light" id="light_story">
        <a href="javascript:void(0)" onclick="document.getElementById('light_story').style.display='none';document.getElementById('faded_story').style.display='none';" class="story-link close">&times;</a>
        {{ render_form(uForm, button_style='secondary') }}
        {{ render_form(form,  button_style='secondary') }}
    </div>
    <div class="faded" id="faded_story" onclick="document.getElementById('light_story').style.display='none';document.getElementById('faded_story').style.display='none';">
        
    </div>
</div>      





        
        

    
    
    

{% endblock %}
{% block script %}
    {{ super() }}
    <script src=" {{ url_for('static', filename='js/script.js') }} ">
    </script>
{% endblock %}