

{% extends 'base.html' %}

{% block title %}
    - photo  
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
{% include 'story-nav.html'   %}
{% endblock %}
{% block content %}
<div>
    <h1>
        {{ render_link('album.album_', album.title, id=album.id, class='story-link') }} 
    </h1>
    <ul class="nav">
        {{ render_nav_item('photo.index', 'photos', id=album.id) }}
    </ul>

    <div>
        <div>
            {{ render_messages(get_flashed_messages(with_categories=True)) }}
        </div>
        <a href="javascript:void(0)" onclick="document.getElementById('light_ph').style.display='block';document.getElementById('faded_ph').style.display='block';" class="story-link">add a photo</a>
    </div>
    
    <div class="light" id="light_ph">
        <a href="javascript:void(0)" onclick="document.getElementById('light_ph').style.display='none';document.getElementById('faded_ph').style.display='none';" class="story-link close">&times;</a>
        <h2>Add photo</h2>
            
        <div>{{ render_form(form, button_style='secondary') }}</div>
    </div>
    <div class="faded" id="faded_ph" onclick="document.getElementById('light_ph').style.display='none';document.getElementById('faded_ph').style.display='none';" class="story-link close">
        
    </div>


</div>
<div class="illustrations">
    {% for filename in filenames  %}
        <div>
            <a href="{{ url_for('photo.photo_', id=filename[0]) }} ">
                <img src=" {{ url_for('static', filename=filename[1] ) }} " alt="" class="illustration-item">
            </a>
        </div>
    {% endfor %}
    
    
    
</div> 

{% endblock %}
{% block script %}
    
{% endblock %}