

{% extends 'base.html' %}

{% block title %}
    - group       
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
{% include 'story-nav.html'   %}   
{% endblock %}
{% block content %}
<div>
    <div>
        {{ render_messages(get_flashed_messages(with_categories=True)) }}
    </div>
    <a href="javascript:void(0)" onclick="document.getElementById('light_g').style.display='block';document.getElementById('faded_g').style.display='block';" class="story-link">create a group</a>
</div>

<div class="light" id="light_g">
    <a href="javascript:void(0)" onclick="document.getElementById('light_g').style.display='none';document.getElementById('faded_g').style.display='none';" class="story-link close">&times;</a>
    <h2>Create a group</h2>   
    <div>{{ render_form(form, button_style='secondary') }}</div>
</div>
<div class="faded" id="faded_g" onclick="document.getElementById('light_g').style.display='none';document.getElementById('faded_g').style.display='none';" class="story-link close">
    
</div>


<div>
    <div>
        Groups
        <ul>
            {% for group in groups %}
                <li>
                    {{ render_link('group.group_', group.name, id=group.id, class='story-link') }}   
                </li>
            {% endfor %}
        </ul>
        
    </div>
    <div class="pagination">
        {{ render_pagination(pagination) }}
    </div>
</div>
    
    

{% endblock %}
{% block script %}
    
{% endblock %}