{% extends 'base.html' %}

{% block title %}
    - supgroup
{% endblock %}

{% block style %}
    <link rel="stylesheet" href=" {{ url_for('static', filename=theme ) }} ">
{% endblock %}

{% block nav %}
{% include 'story-nav.html'   %}
{% endblock %}
{% block content %}
               
    
<div class="left">
    <div>
        {{ render_messages(get_flashed_messages(with_categories=True)) }}
    </div>
        
    
    <div id="supgroups">
        Supgroups
        <ul>
            {% for supgroup in supgroups %}
                <li>
                    {{ render_link('supgroup.supgroup_', supgroup.name, id=supgroup.id, class='story-link') }}   
                </li>
            {% endfor %}
        </ul>
        <div>
            {{ render_pagination(pagination) }}
        </div>
    </div>
</div>
    
<div id="supgroup-container">

    <div>
        <h2 >
            {{ supgroup.name }}
            
        </h2>
        <div id="del-upd">
            <button class="btn btn-secondary" id="delete" onclick="deleteSupgroup({{supgroup.id}}, {{story.id}})">delete</button>
            <button class="btn btn-secondary" id="update">update</button>
    
        </div>
        <div>
            {{ render_link('group.index', 'groups', id=story.id, class='story-link') }}
        </div>
        {% if n_groups > 0 %}
        <div>
            {{ render_link('group.index', 'groups', id=story.id, class='story-link') }}
            Members:
            {% for group in supgroup.groups.all() %}
            
                {{ render_link('group.group_', group.name, id=group.id, class='story-link') }}
            {% endfor %}  
        <br>
        </div>
        {% endif %}
        
        <div class="light" id="light_sg" >
            <a href="javascript:void(0)" onclick="document.getElementById('light_sg').style.display='none';document.getElementById('faded_sg').style.display='none';" class="story-link close">&times;</a>
            {{ render_form(uForm, button_style='secondary') }}
            {{ render_form(form, button_style='secondary') }}
        </div>
        <div class="faded" id="faded_sg" onclick="document.getElementById('light_sg').style.display='none';document.getElementById('faded_sg').style.display='none';" >

        </div>
        <div id="d2">
            <div id="title_">
                
                
            </div>
            
    
        
            <div id="description_">
                
                
                <img id="cover" src=" {{ url_for('static', filename=filename) }} " alt="cover">
                {{ supgroup.description}}   
                
                
             
            
                    
                    
                
            </div>
        </div>
    </div>

    
    
    
</div>




{% endblock %}
{% block script %}
    {{ super() }}
    <script src=" {{ url_for('static', filename='js/script_sg.js') }} ">
    </script>
{% endblock %}
